:root{
    --h1-font-size: 20px;
    --h1-color:black;
    --p-color:black;
    --p-font-size:18px;
    --background-nav:white;
    --background:rgb(64, 113, 218);
    --background-body:rgb(253, 253, 253);
    --a-color:black;
    --logo-color:black;
}

*{
    margin: 0;
    padding: 0;
    font-family:arial;
    box-sizing: border-box;
}
body{
    background-color: var(--background-body);
    overflow-x:hidden;
    letter-spacing: 1.2px;
}
/*----------------------------SIDE CONTENTS------------------------------------------------*/
/*
.side-contents{
    width: 20vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px black;
}
.side-img{
    display: flex;
    flex-direction: column;
    gap:3em;
}   */

/* ---------------------------------------------SIDE CONTENTS RIGTH------------------------------------------*/
/*
.side-contents-right{
    width: 20vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 
}
*/

/*-----------------------------NAV BAR -----------------------------------------------------------*/

h3{
    margin-top: 2%;
    font-size: 30px;
    margin-bottom: 1%;
    color: white;
}
.nav-bar{
    background:var(--background-nav);
    backdrop-filter:blur(5px);
    box-shadow:  0 0 5px rgba(63, 62, 62, 0.281);
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    position: fixed;
    z-index: 999;
    top: 0;

    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.logo{
    color: rgb(250, 250, 250);
    font-size: 30px;
    color: var(--logo-color);
    font-family: fantasy;
}

.nav-bar a{
   padding: 10px;
   color: var(--a-color);
   cursor: pointer;
   font-size: 20px;
   text-decoration: none;
   margin: 0 5px;
   border: solid transparent;
   transition: .3s;
}
.nav-bar a:hover{
    border-bottom:solid rgb(255, 0, 0);
    color: red;
}
.nav-bar ul{
    margin-right: 0%;
}

/*------------------------------------PAGE INTRO-------------------------------------------*/
.page-intro{
    margin-top: 80px;
    width: 100vw;
    height: 40vh;
    background:rgba(36, 91, 243, 0.185);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-intro h1{
    font-size: 70px;
}


/*------------------------------------LOGIN BTN-------------------------------------------*/

#login-btn{
 padding:5px 20px;
 background:red;
 border-radius:15px;
 cursor:pointer;
 border:none;
 width:100px;
 height:40px;
 color:white;
 transition:.2s;
 font-size:17px;
}
#login-btn:hover{
 transform:scale(1.05);
 background:rgba(5, 0, 0, 0.959);
 color:rgb(255, 255, 255);
 box-shadow:0 0 10px white;
}

/*------------------------------------ HOME PAGE ------------------------- */ 
.home-page{
    width: 50vw;
    background:var(--background-body);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin: auto;
    margin-top: 5%;
}
.home-page img{
    width: 50vw;
    border: 3px solid #333;
}

.home-content h1{
    font-size: 60px;
    color: var(--h1-color);
}
.home-content p{
    color: var(--p-color);
    font-size:var(--p-font-size);
    margin-top: 3%;
    margin-bottom: 2%;
    max-width: 50vw;
}
.buttons{
    margin-top: 10%;
}

.btn2{
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 55px;   
    font-size: 15px;
    border: 1px solid;
    transition: .3s;
}
.btn2:hover{
    background-color: rgb(243, 243, 243);
    border: none;
    box-shadow: 0 0 15px rgb(250, 250, 250);
    color: black;
}

    /* ----------------------------------- GET STARTED ----------------------------------------------------- */

.get-started{
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 8em;
}
.get-started-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
}
.get-started-content h1{
    font-size: var(--h1-font-size);
    margin-bottom: 2%;
    color: #fff;
    background:var(--background);
    padding:15px;
    box-shadow:0 0 2px black;
    border-radius:5px;
}
.get-started p{
    margin-bottom: 3%;
    color: #333;
    margin-left: 2%;
    font-size: var(--p-font-size);
}
.get-started h3{
 border-bottom:2px solid #444;
 padding:10px 0px;
 color:#222;
}
/*---------------------------------------------GUITAR IMG --------------------------*/
.guitar-container1 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .3s;
}
.guitar-container2 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .3s;
}
.guitar-container3 img{
    width: 50vw;
    cursor: pointer;
    transition: .3s;
}
.gitar-groups {
    width: 50vw;
    height: 50vh;
    background-color: red;
}


/*------------------------- GUITAR CHORDS --------------------------------------*/

.basic-chords{
    background-color:white;
    color: rgb(0, 0, 0);
    margin-top: 3%;
    margin:auto;
}
.basic-chords-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 0%;
    padding: 10px;
    margin: 10px;

    /*animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    */
}
.basic-chords-content h1{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: var(--h1-font-size);
    margin-bottom: 2%;
    color: #fff;
    background:var(--background);
    padding:15px;
    box-shadow:0 0 2px black;
    border-radius:5px;
}
.basic-chords-content p{
    font-size: var(--p-font-size);
}

.chords-container1{
    width: 30vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    gap: .5em;
}
.chords-container1 h2{
    font-size: 30px;
}

.chord-C{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    

   animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}
.chord-D{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chord-E{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chord-F{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chord-G{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chord-A{
    width: 50vw;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.chords-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: .5em;
}
.chords-container2 h2{
    font-size: 30px;
}

/*-------------------------------CHORD TEXT < CHORD IMG-----------------------------------------*/
.chord-text{
    margin-left: 15px;
}
.chord-img img {
    border: 2px solid black;
    border-radius: 5px;
    max-width: 320px;
    background-size: contain;
    background-position: center;
}


@keyframes appear{
    from{
        transform:translateY(200px);
         opacity: 0;
     }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}